<!doctype html>
<html lang="zh-Hant-TW">
	<head>
		<title><%=meta.title%></title>
		<link rel="icon" href="/static/Image/logo.png?v=<%=meta.version%>">

		<link rel="canonical" href="<%=meta.hostname%>/" />
		<meta property="og:url" content="<%=meta.hostname%>/" />

		<meta name="description" content="<%=meta.desc%>"/>
		<meta property="og:description" content="<%=meta.desc%>" />
		<meta property="og:site_name" content="<%=meta.title%>" />
		<meta property="og:title" content="<%=meta.title%>" />
		<meta property="og:image" content="<%=meta.hostname%>/static/Image/banner.png" />
		<meta property="og:locale" content="zh_TW" />
		<meta property="og:type" content="website" />

		<meta http-equiv="Content-Language" content="zh-tw" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="/static/build/css/main.css?v=<%=meta.version%>">

	</head>
	<body>
		<script src="https://code.jquery.com/jquery-2.2.2.min.js"   integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI="   crossorigin="anonymous"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.9/d3.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/3.0.2/topojson.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

		<div id="app" class="riverlog">
			<div class="topbar">
				<img class="logo" src="/static/Image/logo-text.png">
				<img class="logo-mobile" src="/static/Image/logo.png">
				<select v-model="mapType">
					<option value="waterEvent">水事件地圖</option>
					<option value="waterStatistic">年統計資料</option>
				</select>
			</div>
			<div class="main-content">
				<div class="icon-container">
					<img class="icon" src="/static/Image/icon-date.png" alt="選擇日期" v-on:click="openDateSelect=true;" v-if="mapType == 'waterEvent' ">
					<img class="icon" src="/static/Image/icon-setting.png" alt="參數設定" v-on:click="openOption=true;">
					<img class="icon" src="/static/Image/icon-about.png" alt="關於本站" v-on:click="openAbout=true;">
				</div>
				<div id="map" v-show="mapType == 'waterEvent' "></div>
			</div>
			<div class="playbar" v-if="mapType == 'waterEvent' ">
				<div class="h-scroll">
					<div class="timebar">
						<div v-for="t in timebar" class="element" v-bind:style="t.style" v-on:click="ChangeTime(t.time);"></div>
						<div class="select-element"></div>
					</div>
				</div>
				<div class="play-control">
					<div class="time-label" v-on:click="openDateSelect=true;">{{timeStr}}</div>
					<img class="icon" src="/static/Image/icon-prev.png" v-on:click="PrevTime();">
					<img class="icon" v-bind:src="playIcon" v-on:click="TogglePlay();">
					<img class="icon" src="/static/Image/icon-next.png" v-on:click="NextTime();">
				</div>
			</div>

			<div class="side-panel" v-bind:class="{open: openDateSelect}">
				<img class="close-bt" src="/static/Image/icon-close.png" v-on:click="openDateSelect=false;">
				<select v-model="curYear">
					<option v-for="y in yearArr" v-bind:value="y">{{y}}年</option>
				</select>
				<select v-model="sumType" v-on:change="ChangeYear(curYear);">
					<option value="rain">雨量</option>
					<option value="reservoir">水庫水位</option>
				</select>
				<div class="date-selection">
					<div class="week-label" v-for="w in weekLabel" v-bind:style="{left:w.x+'px', top:w.y+'px'}">{{w.text}}</div>
					<div class="month-label" v-for="m in monthLabel" v-bind:style="{left:m.x+'px', top:m.y+'px'}">{{m.text}}</div>
					<div class="date-bt" v-for="d in dailySum" v-bind:style="d.style" v-bind:data-date="d.date" v-on:click="ChangeDate(d.date);"></div>
					<div class="select-date"></div>
				</div>
			</div>

			<div class="side-panel" v-bind:class="{open: openOption}">
				<img class="close-bt" src="/static/Image/icon-close.png" v-on:click="openOption=false;">
				<div v-if="mapType == 'waterEvent' ">
					<div class="option-category">雨量</div>
					<div class="option-item">
						<div class="option-label">顯示</div>
						<input type="checkbox" v-model="rainOption.show" v-on:change="UpdateMapRain();">
					</div>
					<div class="option-item">
						<input type="range" min="0" max="1" step="0.1" v-model="rainOption.opacity" v-on:change="UpdateMapRain();">
						<div class="option-label">透明度</div>
					</div>
					<div class="option-item">
						<input type="range" min="0.1" max="2" step="0.1" v-model="rainOption.scale" v-on:change="UpdateMapRain();">
						<div class="option-label">縮放</div>
					</div>

					<div class="option-category">河川水位</div>
					<div class="option-item">
						<div class="option-label">顯示</div>
						<input type="checkbox" v-model="waterLevelOption.show" v-on:change="UpdateMapWaterLevel();">
					</div>
					<div class="option-item">
						<input type="range" min="0" max="1" step="0.1" v-model="waterLevelOption.opacity" v-on:change="UpdateMapWaterLevel();">
						<div class="option-label">透明度</div>
					</div>
					<div class="option-item">
						<input type="range" min="0.1" max="2" step="0.1" v-model="waterLevelOption.scale" v-on:change="UpdateMapWaterLevel();">
						<div class="option-label">縮放</div>
					</div>

					<div class="option-category">水庫水位</div>
					<div class="option-item">
						<div class="option-label">顯示</div>
						<input type="checkbox" v-model="reservoirOption.show" v-on:change="UpdateMapReservoir();">
					</div>
					<div class="option-item">
						<input type="range" min="0" max="1" step="0.1" v-model="reservoirOption.opacity" v-on:change="UpdateMapReservoir();">
						<div class="option-label">透明度</div>
					</div>
					<div class="option-item">
						<input type="range" min="0.1" max="2" step="0.1" v-model="reservoirOption.scale" v-on:change="UpdateMapReservoir();">
						<div class="option-label">縮放</div>
					</div>

					<div class="option-category">災害警示</div>
					<div class="option-item">
						<div class="option-label">淹水</div>
						<input type="checkbox" v-model="alertOption.showFlow" v-on:change="UpdateMapAlert();">
					</div>
					<div class="option-item">
						<div class="option-label">水庫放流</div>
						<input type="checkbox" v-model="alertOption.showReservoirDis" v-on:change="UpdateMapAlert();">
					</div>
					<div class="option-item">
						<div class="option-label">河川高水位</div>
						<input type="checkbox" v-model="alertOption.showHighWater" v-on:change="UpdateMapAlert();">
					</div>
					<div class="option-item">
						<div class="option-label">停水</div>
						<input type="checkbox" v-model="alertOption.showWater" v-on:change="UpdateMapAlert();">
					</div>
					<div class="option-item">
						<div class="option-label">土石流</div>
						<input type="checkbox" v-model="alertOption.showDebrisFlow" v-on:change="UpdateMapAlert();">
					</div>
					<div class="option-item">
						<div class="option-label">雷雨</div>
						<input type="checkbox" v-model="alertOption.showThunderstorm" v-on:change="UpdateMapAlert();">
					</div>
					<div class="option-item">
						<input type="range" min="0" max="1" step="0.1" v-model="alertOption.opacity" v-on:change="UpdateMapAlert();">
						<div class="option-label">透明度</div>
					</div>

					<div class="option-category">地圖</div>
					<div class="option-item">
						<div class="option-label">衛星檢視</div>
						<input type="checkbox" v-model="useSatellite" v-on:change="ToggleSatellite()">
					</div>
				</div>
			</div>

			<transition name="fade">
				<div class="full-panel" v-if="openAbout">
					<img class="close-bt" src="/static/Image/icon-close.png" v-on:click="openAbout=false;">
					<div class="content-area"></div>
				</div>
			</transition>
		</div>

		<script src="https://maps.googleapis.com/maps/api/js?libraries=visualization&sensor=false&key=AIzaSyBUGDJex2sQeScb1Wxcm7oiPGwdmyoLhHM"></script>
		<script src="/static/util.js?v=<%=meta.version%>"></script>
		<script src="/static/liquidFillGauge.js?v=<%=meta.version%>"></script>
		<script src="/static/svgOverlay.js?v=<%=meta.version%>"></script>
		<script src="/static/main.js?v=<%=meta.version%>"></script>
	</body>
</html>