<!doctype html>
<html lang="zh-Hant-TW">
	<head>
		<title><%=meta.title%></title>
		<link rel="icon" href="/static/Image/logo.png?v=<%=meta.version%>">

		<link rel="canonical" href="<%=meta.hostname%>/" />
		<meta property="og:url" content="<%=meta.hostname%>/" />

		<meta name="description" content="<%=meta.desc%>"/>
		<meta property="og:description" content="<%=meta.desc%>" />
		<meta property="og:site_name" content="<%=meta.title%>" />
		<meta property="og:title" content="<%=meta.title%>" />
		<meta property="og:image" content="<%=meta.hostname%>/static/Image/banner.png" />
		<meta property="og:locale" content="zh_TW" />
		<meta property="og:type" content="website" />

		<meta http-equiv="Content-Language" content="zh-tw" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="/static/build/css/main.css?v=<%=meta.version%>">

	</head>
	<body>
		<script src="https://code.jquery.com/jquery-2.2.2.min.js"   integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI="   crossorigin="anonymous"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.9/d3.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/3.0.2/topojson.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.8.16/dayjs.min.js"></script>

		<div id="app" class="riverlog">
			<div class="topbar">
				<img class="logo" src="/static/Image/logo-text.png">
				<img class="logo-mobile" src="/static/Image/logo.png">
				<select v-model="mapType" v-on:change="UpdateMapType();">
					<option value="waterEvent">水事件地圖</option>
					<option value="waterUse">用水統計</option>
				</select>
			</div>
			<div class="main-content">
				<div class="icon-container">
					<img class="icon" src="/static/Image/icon-date.png" alt="選擇日期" v-on:click="openDateSelect=true;" v-if="mapType == 'waterEvent' ">
					<img class="icon" src="/static/Image/icon-setting.png" alt="參數設定" v-on:click="openOption=true;">
					<img class="icon" src="/static/Image/icon-about.png" alt="關於本站" v-on:click="openAbout=true;">
				</div>

				<div id="map" v-show="mapType == 'waterEvent' " v-on:click="openDateSelect = false;"></div>
				
				<div class="detail-panel" v-if="mapControl" v-bind:class="{open: mapControl.openDailyChart}">
					<img src="/static/Image/icon-close.png" class="close-bt" v-on:click="mapControl.openDailyChart = false;">
					<div class="graph-content">
						<div class="graph-container">
							<div class="full-w">
								<div class="graph-title">{{mapControl.dailyChartTitle}}</div>
								<div class="graph" id="dailyChart"></div>
								<div class="graph-info" id="dailyChartText"></div>
							</div>
						</div>	
					</div>
				</div>
				
				<div class="graph-content" v-show="mapType == 'waterUse' " v-if="waterUse">
					<select v-model="waterUse.type" v-on:change="waterUse.UpdateGraph();">
						<option value="overview">總用水供需</option>
						<option value="agriculture">灌溉用水</option>
						<option value="cultivation">養殖用水</option>
						<option value="livestock">畜牧用水</option>
						<option value="industry">工業用水</option>
						<option value="living">生活用水</option>
						<option value="reservoir">水庫統計</option>
					</select>

					<div class="graph-container" v-if="waterUse.type == 'overview' ">
						<div class="half-w">
							<div class="graph-title">總用水供給</div>
							<div class="graph" id="overviewSupply"></div>
							<div class="graph-info" id="overviewSupplyText"></div>
						</div>
						<div class="half-w">
							<div class="graph-title">總用水需求</div>
							<div class="graph" id="overviewConsumption"></div>
							<div class="graph-info" id="overviewConsumptionText"></div>
						</div>
					</div>
						
					<div class="graph-container" v-if="waterUse.type == 'agriculture' ">
						<div class="half-w">
							<div class="graph-title">{{waterUse.agricultureData.type}}統計</div>
							<div class="graph graph-border" id="agricultureMap"></div>
							<div class="graph-info" id="agricultureMapText"></div>
						</div>
						<div class="half-w">
							<div class="graph-title">{{waterUse.agricultureData.type}}排名</div>
							<div class="graph graph-border" id="agricultureRank"></div>
							<div class="graph-info" id="agricultureRankText"></div>
						</div>
					</div>
						
					<div class="graph-container" v-if="waterUse.type == 'cultivation' ">
						<div class="half-w">
							<div class="graph-title">{{waterUse.cultivationData.type}}統計</div>
							<div class="graph graph-border" id="cultivationMap"></div>
							<div class="graph-info" id="cultivationMapText"></div>
						</div>
						<div class="half-w">
							<div class="graph-title">{{waterUse.cultivationData.type}}排名</div>
							<div class="graph graph-border" id="cultivationRank"></div>
							<div class="graph-info" id="cultivationRankText"></div>
						</div>
					</div>

					<div class="graph-container" v-if="waterUse.type == 'livestock' ">
						<div class="half-w">
							<div class="graph-title">{{waterUse.livestockData.type}}統計</div>
							<div class="graph graph-border" id="livestockMap"></div>
							<div class="graph-info" id="livestockMapText"></div>
						</div>
						<div class="half-w">
							<div class="graph-title">{{waterUse.livestockData.type}}排名</div>
							<div class="graph graph-border" id="livestockRank"></div>
							<div class="graph-info" id="livestockRankText"></div>
						</div>
					</div>

					<div class="graph-container" v-if="waterUse.type == 'industry' ">
						<div class="half-w">
							<div class="graph-title">{{waterUse.industryData.type}}統計</div>
							<div class="graph graph-border" id="industryMap"></div>
							<div class="graph-info" id="industryMapText"></div>
						</div>
						<div class="half-w">
							<div class="graph-title">{{waterUse.industryData.type}}排名</div>
							<div class="graph graph-border" id="industryRank"></div>
							<div class="graph-info" id="industryRankText"></div>
						</div>
					</div>

					<div class="graph-container" v-if="waterUse.type == 'living' ">
						<div class="half-w">
							<div class="graph-title">{{waterUse.livingData.type}}統計</div>
							<div class="graph graph-border" id="livingMap"></div>
							<div class="graph-info" id="livingMapText"></div>
						</div>
						<div class="half-w">
							<div class="graph-title">{{waterUse.livingData.type}}排名</div>
							<div class="graph graph-border" id="livingRank"></div>
							<div class="graph-info" id="livingRankText"></div>
						</div>
					</div>

					<div class="graph-container" v-if="waterUse.type == 'reservoir' ">
						<div class="half-w">
							<div class="graph-title">{{waterUse.reservoirData.type}}統計</div>
							<div class="graph graph-border" id="reservoirMap"></div>
							<div class="graph-info" id="reservoirMapText"></div>
						</div>
						<div class="half-w">
							<div class="graph-title">{{waterUse.reservoirData.type}}排名</div>
							<div class="graph graph-border" id="reservoirRank"></div>
							<div class="graph-info" id="reservoirRankText"></div>
						</div>
					</div>

					<div class="detail-panel" v-bind:class="{open: waterUse.openDetailPanel}">
						<img src="/static/Image/icon-close.png" class="close-bt" v-on:click="waterUse.openDetailPanel = false;">

						<div class="graph-container" v-if="waterUse.type == 'agriculture' ">
							<div class="half-w">
								<div class="graph-title" v-if="waterUse.agricultureData.select">{{waterUse.agricultureData.select.name}} {{waterUse.agricultureData.type}}</div>
								<div class="graph" id="agricultureCategory"></div>
								<div class="graph-info" id="agricultureCategoryText"></div>
							</div>
							<div class="half-w">
								<div class="graph-title" v-if="waterUse.agricultureData.select">{{waterUse.agricultureData.select.name}} {{waterUse.agricultureData.type}}比例</div>
								<div class="graph" id="agricultureRatio"></div>
								<div class="graph-info" id="agricultureRatioText"></div>
							</div>
						</div>

						<div class="graph-container" v-if="waterUse.type == 'cultivation' ">
							<div class="half-w">
								<div class="graph-title" v-if="waterUse.cultivationData.select">{{waterUse.cultivationData.select.name}} {{waterUse.cultivationData.type}}</div>
								<div class="graph" id="cultivationCategory"></div>
								<div class="graph-info" id="cultivationCategoryText"></div>
							</div>
							<div class="half-w">
								<div class="graph-title" v-if="waterUse.cultivationData.select">{{waterUse.cultivationData.select.name}} {{waterUse.cultivationData.type}}比例</div>
								<div class="graph" id="cultivationRatio"></div>
								<div class="graph-info" id="cultivationRatioText"></div>
							</div>
						</div>

						<div class="graph-container" v-if="waterUse.type == 'livestock' ">
							<div class="half-w">
								<div class="graph-title" v-if="waterUse.livestockData.select">{{waterUse.livestockData.select.name}} {{waterUse.livestockData.type}}</div>
								<div class="graph" id="livestockCategory"></div>
								<div class="graph-info" id="livestockCategoryText"></div>
							</div>
							<div class="half-w">
								<div class="graph-title" v-if="waterUse.livestockData.select">{{waterUse.livestockData.select.name}} {{waterUse.livestockData.type}}比例</div>
								<div class="graph" id="livestockRatio"></div>
								<div class="graph-info" id="livestockRatioText"></div>
							</div>
						</div>

						<div class="graph-container" v-if="waterUse.type == 'industry' ">
							<div class="half-w">
								<div class="graph-title" v-if="waterUse.industryData.select">{{waterUse.industryData.select.name}} {{waterUse.industryData.type}}</div>
								<div class="graph" id="industryCategory"></div>
								<div class="graph-info" id="industryCategoryText"></div>
							</div>
							<div class="half-w">
								<div class="graph-title" v-if="waterUse.industryData.select">{{waterUse.industryData.select.name}} {{waterUse.industryData.type}}比例</div>
								<div class="graph" id="industryRatio"></div>
								<div class="graph-info" id="industryRatioText"></div>
							</div>
						</div>

						<div class="graph-container" v-if="waterUse.type == 'living' ">
							<div class="full-w">
								<div class="graph-title" v-if="waterUse.livingData.select">{{waterUse.livingData.select.name}} 每人每日生活用水量</div>
								<div class="graph" id="monthUse"></div>
								<div class="graph-info" id="monthUseText"></div>
							</div>
						</div>
					</div>

					<div class="fix-bottom">
						<div class="time-bar" id="timeBar">
							<div class="label">{{waterUse.year}} 年</div>
							<input id="timeRange"
								v-on:change="waterUse.UpdateGraph();"
								type="range" v-bind:min="waterUse.minYear" v-bind:max="waterUse.maxYear" v-model="waterUse.year" class="slider">
							<div>
								<img id="prevBt" class="control-icon" src="/static/Image/icon-prev.png" v-on:click="waterUse.PrevYear();">
								<img id="playBt" class="control-icon" v-if="waterUse.isPlay" src="/static/Image/icon-pause.png" v-on:click="waterUse.ToggleYearPlay();">
								<img id="playBt" class="control-icon" v-else src="/static/Image/icon-play.png" v-on:click="waterUse.ToggleYearPlay();">
								<img id="nextBt" class="control-icon" src="/static/Image/icon-next.png" v-on:click="waterUse.NextYear();">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="playbar" v-if="mapType == 'waterEvent' ">
				<div class="h-scroll">
					<div class="timebar">
						<div v-for="t in timebar" class="element" v-bind:style="t.style" v-on:click="ChangeTime(t.time);"></div>
						<div class="select-element"></div>
					</div>
				</div>
				<div class="play-control">
					<div class="time-label" v-on:click="openDateSelect=true;">{{timeStr}}</div>
					<img class="icon" src="/static/Image/icon-prev.png" v-on:click="PrevTime();">
					<img class="icon" v-bind:src="playIcon" v-on:click="TogglePlay();">
					<img class="icon" src="/static/Image/icon-next.png" v-on:click="NextTime();">
				</div>
			</div>

			<div class="side-panel" v-bind:class="{open: openDateSelect}">
				<div class="panel-switch">
					<img class="bt" src="/static/Image/icon-close.png" v-on:click="openDateSelect=false;">
					<img class="bt" src="/static/Image/icon-setting.png" alt="參數設定" v-on:click="SwitchPanel('option');">
					<img class="bt" src="/static/Image/icon-about.png" alt="關於本站" v-on:click="SwitchPanel('about');">
				</div>
				
				<select v-model="curYear">
					<option v-for="y in yearArr" v-bind:value="y">{{y}}年</option>
				</select>
				
				<div class="date-selection">
					<div class="week-label" v-for="w in weekLabel" v-bind:style="{left:w.x+'px', top:w.y+'px'}">{{w.text}}</div>
					<div class="month-label" v-for="m in monthLabel" v-bind:style="{left:m.x+'px', top:m.y+'px'}">{{m.text}}</div>
					<div class="date-bt" v-for="d in dailySum" v-bind:style="d.style" v-bind:data-date="d.date" v-on:click="ChangeDate(d.date);" v-on:mouseover="ShowDateInfo(d);" v-on:mouseout="HideDateInfo();">
						<div v-if="d.alert">o</div>
					</div>
					<div class="select-date"></div>
					<div class="float-window">
						<div class="title">{{dateInfo.date}}</div>
						<div v-if="dateInfo.alert.rainfall>0">大雨警報: {{dateInfo.alert.rainfall}}</div>
						<div v-if="dateInfo.alert.Flood>0">淹水警報: {{dateInfo.alert.Flood}}</div>
						<div v-if="dateInfo.alert.ReservoirDis>0">水庫放流警報: {{dateInfo.alert.ReservoirDis}}</div>
						<div v-if="dateInfo.alert.highWater>0">河川高水位警報: {{dateInfo.alert.highWater}}</div>
						<div v-if="dateInfo.alert.water>0">停水警報: {{dateInfo.alert.water}}</div>
						<div v-if="dateInfo.alert.debrisFlow>0">土石流警報: {{dateInfo.alert.debrisFlow}}</div>
						<div v-if="dateInfo.alert.thunderstorm>0">雷雨警報: {{dateInfo.alert.thunderstorm}}</div>
						<div v-if="dateInfo.alert.typhoon>0">颱風警報: {{dateInfo.alert.typhoon}}</div>
					</div>
				</div>
				
			</div>

			<div class="side-panel" v-bind:class="{open: openOption}">
				<div class="panel-switch">
					<img class="bt" src="/static/Image/icon-close.png" v-on:click="openOption=false;">
					<img class="bt" src="/static/Image/icon-date.png" alt="選擇日期" v-on:click="SwitchPanel('date');" v-if="mapType == 'waterEvent' ">
					<img class="bt" src="/static/Image/icon-about.png" alt="關於本站" v-on:click="SwitchPanel('about');">
				</div>
				
				<div class="option-container" v-if="mapType == 'waterEvent' ">
					<div class="option-category">雨量</div>
					<div class="option-item">
						<div class="option-label">顯示</div>
						<input type="checkbox" v-model="rainOption.show" v-on:change="UpdateMapRain();">
					</div>
					<div class="option-item">
						<div class="option-label">類型</div>
						<select v-model="rainOption.type" v-on:change="UpdateMapRain();">
							<option value="daily">日累積雨量</option>
							<option value="diff">雨量變化</option>
						</select>
					</div>
					<div class="option-item">
						<input type="range" min="0" max="1" step="0.1" v-model="rainOption.opacity" v-on:change="UpdateMapRain();">
						<div class="option-label">透明度</div>
					</div>
					<div class="option-item">
						<input type="range" min="0.1" max="2" step="0.1" v-model="rainOption.scale" v-on:change="UpdateMapRain();">
						<div class="option-label">縮放</div>
					</div>

					<div class="option-category">河川水位</div>
					<div class="option-item">
						<div class="option-label">顯示</div>
						<input type="checkbox" v-model="waterLevelOption.show" v-on:change="UpdateMapWaterLevel();">
					</div>
					<div class="option-item">
						<input type="range" min="0" max="1" step="0.1" v-model="waterLevelOption.opacity" v-on:change="UpdateMapWaterLevel();">
						<div class="option-label">透明度</div>
					</div>
					<div class="option-item">
						<input type="range" min="0.1" max="2" step="0.1" v-model="waterLevelOption.scale" v-on:change="UpdateMapWaterLevel();">
						<div class="option-label">縮放</div>
					</div>
					<div class="option-item">
						<div class="option-label full-w-label">閥值設定</div>
						<input type="range" min="1" max="30" step="1" v-model="waterLevelOption.thresh" v-on:change="UpdateMapWaterLevel();">
						<div class="option-label">{{waterLevelOption.thresh}}cm</div>
					</div>

					<div class="option-category">水庫水位</div>
					<div class="option-item">
						<div class="option-label">顯示</div>
						<input type="checkbox" v-model="reservoirOption.show" v-on:change="UpdateMapReservoir();">
					</div>
					<div class="option-item">
						<input type="range" min="0" max="1" step="0.1" v-model="reservoirOption.opacity" v-on:change="UpdateMapReservoir();">
						<div class="option-label">透明度</div>
					</div>
					<div class="option-item">
						<input type="range" min="0.1" max="2" step="0.1" v-model="reservoirOption.scale" v-on:change="UpdateMapReservoir();">
						<div class="option-label">縮放</div>
					</div>

					<div class="option-category">淹水深度</div>
					<div class="option-item">
						<div class="option-label">顯示</div>
						<input type="checkbox" v-model="floodOption.show" v-on:change="UpdateMapFlood();">
					</div>
					<div class="option-item">
						<input type="range" min="0" max="1" step="0.1" v-model="floodOption.opacity" v-on:change="UpdateMapFlood();">
						<div class="option-label">透明度</div>
					</div>
					<div class="option-item">
						<input type="range" min="0.1" max="2" step="0.1" v-model="floodOption.scale" v-on:change="UpdateMapFlood();">
						<div class="option-label">縮放</div>
					</div>

					<div class="option-category">颱風路徑</div>
					<div class="option-item">
						<div class="option-label">顯示</div>
						<input type="checkbox" v-model="typhoonTrajectoryOption.show" v-on:change="UpdateMapTyphoon();">
					</div>
					<div class="option-item">
						<input type="range" min="0" max="1" step="0.1" v-model="typhoonTrajectoryOption.opacity" v-on:change="UpdateMapTyphoon();">
						<div class="option-label">透明度</div>
					</div>

					<div class="option-category">災害警示</div>
					<div class="option-item">
						<div class="option-label">大雨</div>
						<input type="checkbox" v-model="alertOption.showRainFall" v-on:change="UpdateMapAlert();">
					</div>
					<div class="option-item">
						<div class="option-label">淹水</div>
						<input type="checkbox" v-model="alertOption.showFlow" v-on:change="UpdateMapAlert();">
					</div>
					<div class="option-item">
						<div class="option-label">水庫放流</div>
						<input type="checkbox" v-model="alertOption.showReservoirDis" v-on:change="UpdateMapAlert();">
					</div>
					<div class="option-item">
						<div class="option-label">河川高水位</div>
						<input type="checkbox" v-model="alertOption.showHighWater" v-on:change="UpdateMapAlert();">
					</div>
					<div class="option-item">
						<div class="option-label">停水</div>
						<input type="checkbox" v-model="alertOption.showWater" v-on:change="UpdateMapAlert();">
					</div>
					<div class="option-item">
						<div class="option-label">土石流</div>
						<input type="checkbox" v-model="alertOption.showDebrisFlow" v-on:change="UpdateMapAlert();">
					</div>
					<div class="option-item">
						<div class="option-label">雷雨</div>
						<input type="checkbox" v-model="alertOption.showThunderstorm" v-on:change="UpdateMapAlert();">
					</div>
					<div class="option-item">
						<div class="option-label">颱風</div>
						<input type="checkbox" v-model="alertOption.showTyphoon" v-on:change="UpdateMapAlert();">
					</div>
					<div class="option-item">
						<div class="option-label">發生機率</div>
						<select v-model="alertOption.certainty" v-on:change="UpdateMapAlert();">
							<option value="All">全部</option>
							<option value="Observed">已發生</option>
							<option value="Likely">很可能發生</option>
							<option value="Possible">可能發生</option>
							<option value="Unlikely">不太會發生</option>
							<option value="Unknown">未知</option>
						</select>
					</div>
					<div class="option-item">
						<div class="option-label">嚴重程度</div>
						<select v-model="alertOption.severity" v-on:change="UpdateMapAlert();">
							<option value="All">全部</option>
							<option value="Extreme">嚴重威脅</option>
							<option value="Severe">有威脅</option>
							<option value="Moderate">可能有威脅</option>
							<option value="Minor">不太有威脅</option>
							<option value="Unknown">未知</option>
						</select>
					</div>
					<div class="option-item">
						<input type="range" min="0" max="1" step="0.1" v-model="alertOption.opacity" v-on:change="UpdateMapAlert();">
						<div class="option-label">透明度</div>
					</div>

					<div class="option-category">地圖</div>
					<div class="option-item">
						<div class="option-label">衛星檢視</div>
						<input type="checkbox" v-model="useSatellite" v-on:change="ToggleSatellite()">
					</div>
					<div class="option-item">
						<input type="range" min="1" max="10" step="1" v-model="playSpeed" v-on:change="UpdatePlaySpeed();">
						<div class="option-label">播放速度</div>
					</div>
					<div class="option-item">
						<div class="action-bt" v-on:click="CopySpaceTimeUrl();">複製時間地點網址</div>
					</div>
				</div>

				<div class="option-container" v-if="mapType == 'waterUse' && waterUse">
					<div v-show="waterUse.type == 'agriculture'">
						<div class="option-category">灌溉用水</div>
						<div class="option-item">
							<div class="option-label">統計項目</div>
							<select v-model="waterUse.agricultureData.type" v-on:change="waterUse.UpdateGraph();">
								<option value="灌溉用水">灌溉用水</option>
								<option value="灌溉面積">灌溉面積</option>
								<option value="單位面積用水量">單位面積用水量</option>
							</select>
						</div>
					</div>

					<div v-show="waterUse.type == 'cultivation'">
						<div class="option-category">養殖用水</div>
						<div class="option-item">
							<div class="option-label">統計項目</div>
							<select v-model="waterUse.cultivationData.type" v-on:change="waterUse.UpdateGraph();">
								<option value="養殖用水">養殖用水</option>
								<option value="養殖面積">養殖面積</option>
								<option value="單位面積用水量">單位面積用水量</option>
							</select>
						</div>
					</div>

					<div v-show="waterUse.type == 'livestock'">
						<div class="option-category">畜牧用水</div>
						<div class="option-item">
							<div class="option-label">統計項目</div>
							<select v-model="waterUse.livestockData.type" v-on:change="waterUse.UpdateGraph();">
								<option value="畜牧用水">畜牧用水</option>
								<option value="畜牧數量">畜牧數量</option>
								<option value="每千隻用水量">每千隻用水量</option>
							</select>
						</div>
					</div>

					<div v-show="waterUse.type == 'industry'">
						<div class="option-category">工業用水</div>
						<div class="option-item">
							<div class="option-label">統計項目</div>
							<select v-model="waterUse.industryData.type" v-on:change="waterUse.UpdateGraph();">
								<option value="工業用水">工業用水</option>
								<option value="工業面積">工業面積</option>
								<option value="單位面積用水量">單位面積用水量</option>
							</select>
						</div>
					</div>

					<div v-show="waterUse.type == 'living'">
						<div class="option-category">生活用水</div>
						<div class="option-item">
							<div class="option-label">統計項目</div>
							<select v-model="waterUse.livingData.type" v-on:change="waterUse.UpdateGraph();">
								<option value="每人每日配水量">每人每日配水量</option>
								<option value="每人每日生活總用水量">每人每日生活總用水量</option>
								<option value="自行取水用水人口">自行取水用水人口</option>
								<option value="自行取水年用水量">自行取水年用水量</option>
								<option value="自行取水每人每日生活用水量">自行取水每人每日生活用水量</option>
								<option value="自來水年用水量">自來水年用水量</option>
								<option value="自來水供水人口">自來水供水人口</option>
								<option value="每人每日售水量">每人每日售水量</option>
							</select>
						</div>
					</div>

					<div v-show="waterUse.type == 'reservoir'">
						<div class="option-category">水庫統計</div>
						<div class="option-item">
							<div class="option-label">統計項目</div>
							<select v-model="waterUse.reservoirData.type" v-on:change="waterUse.UpdateGraph();">
								<option value="進水量">進水量</option>
								<option value="各標的用水量總計">各標的用水量總計</option>
								<option value="農業用水量">農業用水量</option>
								<option value="工業用水量">工業用水量</option>
								<option value="生活用水量">生活用水量</option>
								<option value="洩洪量">洩洪量</option>
								<option value="損耗水量">損耗水量</option>
								<option value="其他放流量">其他放流量</option>
								<option value="淤積增減量">淤積增減量</option>
								<option value="發電水量回流">發電水量回流</option>
								<option value="發電水量放流">發電水量放流</option>
							</select>
						</div>
					</div>

					<div class="option-category">動態播放</div>
					<div class="option-item">
						<input type="range" min="1" max="10" step="1" v-model="waterUse.playSpeed" v-on:change="waterUse.UpdatePlaySpeed();">
						<div class="option-label">播放速度</div>
					</div>
					
				</div>
			</div>

			<transition name="fade">
				<div class="full-panel" v-if="openAbout">
					<img class="close-bt" src="/static/Image/icon-close.png" v-on:click="openAbout=false;">
					<div class="content-area">
						<div v-if="mapType == 'waterEvent' ">
							<div class="content-title">圖示說明</div>
							<ul>
								<li>操作介面: <a href="" target="_blank">說明</a></li>
								<li>日期與時間框<div class="time-block"></div>從上到下分成三個區塊，顏色分別代表台灣北中南部的日累積雨量平均值。</li>
								<li>
									<div class="content">
										日累積雨量、雨量變化: 以柱狀圖
										<img class="content-icon" src="/static/Image/icon-rain.png">
										高度表示雨量大小。越高代表雨量越多，顏色依
										<a href="https://www.cwb.gov.tw/V8/C/P/Rainfall/Rainfall_QZJ.html" target="_blank">氣象局雨量圖</a>
										顏色內插顯示(單位mm)：
									</div>
								</li>
								<div class="h-scroll">
									<table>
										<tr>
											<td class="color-block" v-for="(d,i) in color.rainRange" v-if="i<color.rainRange.length-1" v-bind:style="{background: 'linear-gradient(90deg,'+color.rainRange[i]+','+color.rainRange[i+1]+')'}">&nbsp;</td>
										</tr>
										<tr>
											<td class="color-block" v-for="(d,i) in color.rainDomain" v-if="i<color.rainRange.length-1">{{color.rainDomain[i]}}~{{color.rainDomain[i+1]}}</td>
										</tr>
									</table>
								</div>

								<li>
									<div class="content">
										河川水位: 水位持平以菱形
										<img class="content-icon" src="/static/Image/icon-water-level.png">
										表示，水位若上升超過閥值設定則以向上箭頭
										<img class="content-icon" src="/static/Image/icon-water-level-up.png">
										表示，水位若下降超過閥值設定以向下箭頭
										<img class="content-icon" src="/static/Image/icon-water-level-down.png">
										表示。箭頭越長表示水位變化越大。顏色顯示意義如下：
									</div>
								</li>
								<div class="h-scroll">
									<table>
										<tr>
											<td class="color-block" style="background-color:#37cc00;">&nbsp;</td>
											<td class="color-block" style="background-color:#ffcc00;">&nbsp;</td>
											<td class="color-block" style="background-color:#ff6600;">&nbsp;</td>
											<td class="color-block" style="background-color:#ff0000;">&nbsp;</td>
										</tr>
										<tr>
											<td class="color-block">未超過警戒線</td>
											<td class="color-block">超過三級警戒線</td>
											<td class="color-block">超過二級警戒線</td>
											<td class="color-block">超過一級警戒線</td>
										</tr>
									</table>
								</div>

								<li>
									<div class="content">
										水庫水位: 以圓餅填滿高度
										<img class="content-icon" src="/static/Image/icon-reservoir.png">
										表示水庫蓄水比例。圓餅面積越大表示總蓄水量越大，顏色顯示意義如下(單位%)：
									</div>
								</li>
								<div class="h-scroll">
									<table>
										<tr>
											<td class="color-block" v-for="(d,i) in color.reservoirRange" v-if="i<color.reservoirRange.length-1" v-bind:style="{background: 'linear-gradient(90deg,'+color.reservoirRange[i]+','+color.reservoirRange[i+1]+')'}">&nbsp;</td>
										</tr>
										<tr>
											<td class="color-block" v-for="(d,i) in color.reservoirDomain" v-if="i<color.reservoirRange.length-1">{{color.reservoirDomain[i]*100}}~{{color.reservoirDomain[i+1]*100}}</td>
										</tr>
									</table>
								</div>

								<li>
									<div class="content">
										淹水深度: 以人形填滿高度
										<img class="content-icon" src="/static/Image/icon-flood.png">
										表示淹水深度。人形完全被填滿之高度為180cm，顏色顯示意義如下(單位cm)：
									</div>
								</li>
								<div class="h-scroll">
									<table>
										<tr>
											<td class="color-block" v-for="(d,i) in color.floodRange" v-if="i<color.floodRange.length-1" v-bind:style="{background: 'linear-gradient(90deg,'+color.floodRange[i]+','+color.floodRange[i+1]+')'}">&nbsp;</td>
										</tr>
										<tr>
											<td class="color-block" v-for="(d,i) in color.floodDomain" v-if="i<color.floodRange.length-1">{{color.floodDomain[i]}}~{{color.floodDomain[i+1]}}</td>
										</tr>
									</table>
								</div>

								<li>
									<div class="content">
										颱風路徑: 以雙同心圓
										<img class="content-icon" src="/static/Image/icon-typhoon.png">
										表示颱風位置。紅色內圈大小表示10級陣風半徑，黃色外圈大小表示7級陣風半徑。
									</div>
								</li>

								<li>
									<div class="content">
										災害警示: 依警示類別不同會以紅色區塊填滿縣市邊界或鄉鎮邊界；土石流警戒以黃色(黃色警戒)或紅色(紅色警戒)畫出土石流潛勢溪流；雷雨則是以黑色多邊形填滿雷雨區域。
									</div>
								</li>

							</ul>
							<div class="content-title">資料來源</div>
							<ul>
								<li>雨量: <a href="https://opendata.cwb.gov.tw/dataset/observation/O-A0002-001" target="_blank">氣象資料開放平台-雨量觀測資料</a></li>
								<li>河川水位: <a href="https://ci.taiwan.gov.tw/dsp/environmental_water_wra.aspx" target="_blank">民生公共物聯網-河川水位資料</a>，<a href="http://fhy.wra.gov.tw/fhy/Monitor/Water" target="_blank">防災資訊服務網-即時水位</a></li>
								<li>水庫水位: <a href="http://wise.wra.gov.tw/dataset/reservoirconditiondata" target="_blank">水資料分享站-水庫水情資料</a></li>
								<li>淹水深度: <a href="https://ci.taiwan.gov.tw/dsp/environmental_water_wra_flood.aspx" target="_blank">民生公共物聯網-淹水測站資料</a></li>
								<li>颱風路徑: <a href="https://opendata.cwb.gov.tw/dataset/warning/W-C0034-005" target="_blank">氣象資料開放平台-熱帶氣旋路徑</a></li>
								<li>災害警示: <a href="https://ci.taiwan.gov.tw/dsp/environmental_cap.aspx" target="_blank">民生公共物聯網-災害示警資料</a></li>
								
								<li>河川水位測站位置: <a href="http://wise.wra.gov.tw/dataset/riverstageobservatoryprofile" target="_blank">水資料分享站-河川水位測站站況</a></li>
								<li>水庫基本資料: <a href="http://wise.wra.gov.tw/dataset/reservoirsinformation" target="_blank">水資料分享站-水庫基本資料</a></li>
								<li>縣市界線: <a href="https://data.gov.tw/dataset/7442" target="_blank">政府資料開放平台-直轄市、縣市界線(TWD97經緯度)</a></li>
								<li>鄉鎮界線: <a href="https://data.gov.tw/dataset/7441" target="_blank">政府資料開放平台-鄉鎮市區界線(TWD97經緯度)</a></li>
								<li>土石流潛勢溪流位置: <a href="https://246.swcb.gov.tw/Service/OpenData" target="_blank">土石流防災資訊網-土石流潛勢溪流基本資料</a></li>
							</ul>
						</div>

						<div v-if="mapType == 'waterUse' ">
							<div class="content-title">資料來源</div>
							<ul>
								<li>總供/用水量: <a href="https://erdb.epa.gov.tw/DataRepository/Statistics/StatSceWaterrecNew.aspx" target="_blank">環境資源資料庫 - 水資源供需</a></li>
								<li>灌溉用水量: <a href="http://wise.wra.gov.tw/dataset/waterresourcesagencyirrigationareaandwaterconsumptionstatisticsforagriculturalusage" target="_blank">水資料分享站 - 灌溉面積與灌溉用水量統計</a></li>
								<li>養殖用水量: <a href="http://wise.wra.gov.tw/dataset/waterresourcesagencycultivaionareaandwaterconsumptionstatisticsforagriculturalusage" target="_blank">水資料分享站 - 養殖面積與養殖用水量統計</a></li>
								<li>畜牧用水量: <a href="https://scidm.nchc.org.tw/en/dataset/waterresourcesagencylivestockquantityandwaterconsumptionstatisticsforagriculturalusage" target="_blank">資料集平台 - 畜牧數與畜牧用水量統計</a></li>
								<li>工業用水量: <a href="http://wise.wra.gov.tw/dataset/waterresourcesagencywaterconsumptionandareaforindustrialusage" target="_blank">水資料分享站 - 工業用水量與工業面積</a></li>
								<li>生活用水量: <a href="http://wise.wra.gov.tw/dataset/waterresourcesagencywaterconsumptionstatisticsfordomesticusage" target="_blank">水資料分享站 - 生活用水量統計</a></li>
								<li>自來水每月用水量: <a href="http://wise.wra.gov.tw/dataset/theconsumptionofwater" target="_blank">水資料分享站 - 自來水用水量</a></li>
								<li>水庫統計:
									<a href="http://wise.wra.gov.tw/dataset/reservoirsoperationstatisticaldata" target="_blank">水資料分享站 - 水庫營運</a>，
									<a href="http://wise.wra.gov.tw/dataset/reservoirssedimentationstatisticaldata" target="_blank">水資料分享站 - 水庫淤積量</a>
								</li>
								<li>水利會位置: <a href="https://www.google.com.tw/maps" target="_blank">google map搜尋</a></li>
								<li>工業業別: <a href="https://www.stat.gov.tw/ct.asp?mp=4&xItem=42276&ctNode=1309" target="_blank">中華民國統計資訊網 - 第10次修訂行業分類查詢</a></li>
								<li>縣市界線: <a href="https://data.gov.tw/dataset/7442" target="_blank">政府資料開放平台-直轄市、縣市界線(TWD97經緯度)</a></li>
								<li>鄉鎮界線: <a href="https://data.gov.tw/dataset/7441" target="_blank">政府資料開放平台-鄉鎮市區界線(TWD97經緯度)</a></li>
							</ul>
						</div>

						<div class="content-title">參考資料</div>
						<ul>
							<li><a href="https://ci.taiwan.gov.tw/dsp/sta_guide.aspx" target="_blank">民生公共物聯網 - API說明</a></li>
							<li><a href="https://ci.taiwan.gov.tw/creativity/index.aspx#relative-music" target="_blank">民生公共物聯網 - 相關影音</a></li>
							<li><a href="https://alerts.ncdr.nat.gov.tw/Document/%E6%B0%91%E7%94%9F%E7%A4%BA%E8%AD%A6%E5%85%AC%E9%96%8B%E8%B3%87%E6%96%99%E5%B9%B3%E5%8F%B0.pdf" target="_blank">民生示警公開資料平台簡介</a></li>
							<li><a href="https://alerts.ncdr.nat.gov.tw/platformInfo.aspx" target="_blank">民生示警公開資料平台 - 示警簡介</a></li>
							<li><a href="https://water.taiwanstat.com/" target="_blank">用數據看台灣 - 台灣水庫即時水情</a></li>
							<li><a href="https://purbao.lass-net.org/" target="_blank">紫豹在哪裡</a></li>
							<li><a href="https://deathnote.agawork.tw/" target="_blank">台灣の死亡筆記本</a></li>
							<li><a href="https://www.books.com.tw/products/0010829596" target="_blank">颱風：在下一次巨災來臨前</a></li>
							<li><a href="https://www.books.com.tw/products/0010723018" target="_blank">台灣的十大地理議題</a></li>
							<li><a href="https://www.books.com.tw/products/0010790443" target="_blank">真確：扭轉十大直覺偏誤，發現事情比你想的美好</a></li>
						</ul>
						<div class="content-title">關於山河事件簿</div>
						<ul>
							<li>本專案為<a href="https://www.facebook.com/groups/LASSnet/" target="_blank">LASS社群</a>的水議題開源專案</li>
							<li><a href="https://github.com/aga3134/RiverLog" target="_blank">網站開源程式碼</a></li>
							<li>參與2019年<a href="https://ci.taiwan.gov.tw/creativity/index.aspx" target="_blank">民生公共物聯網 資料應用競賽</a></li>
							<li><a href="https://agawork.tw/" target="_blank">其他專案</a></li>
							<li>若您對本站有任何建議或合作需求，歡迎來信討論 aga3134@gmail.com</li>
						</ul>
					</div>
				</div>
			</transition>
		</div>

		<script src="https://maps.googleapis.com/maps/api/js?libraries=visualization&sensor=false&key=AIzaSyBUGDJex2sQeScb1Wxcm7oiPGwdmyoLhHM"></script>
		<script src="/static/util.js?v=<%=meta.version%>"></script>
		<script src="/static/liquidFillGauge.js?v=<%=meta.version%>"></script>
		<script src="/static/mapTW.js?v=<%=meta.version%>"></script>
		<script src="/static/svgGraph.js?v=<%=meta.version%>"></script>
		<script src="/static/waterUseStatistic.js?v=<%=meta.version%>"></script>
		<script src="/static/svgOverlay.js?v=<%=meta.version%>"></script>
		<script src="/static/reservoirOverlay.js?v=<%=meta.version%>"></script>
		<script src="/static/floodOverlay.js?v=<%=meta.version%>"></script>
		<script src="/static/mapControl.js?v=<%=meta.version%>"></script>
		<script src="/static/main.js?v=<%=meta.version%>"></script>
	</body>
</html>