<!doctype html>
<html lang="zh-Hant-TW">
	<head>
		<% include head %>
	</head>
	<body>
		<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.9/d3.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/3.0.2/topojson.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.8.16/dayjs.min.js"></script>

		<div id="env" class="riverlog">
			<div class="topbar">
				<a href="/">
					<img class="logo" src="/static/Image/logo-text.png">
					<img class="logo-mobile" src="/static/Image/logo.png">
				</a>
				<select v-model="url" v-on:change="ChangeUrl();">
					<option v-for="op in opUrl" v-bind:value="op.url">{{op.name}}</option>
				</select>
			</div>

			<div class="main-content">
				<div class="icon-container">
					<img class="icon" src="/static/Image/icon-date.png" title="選擇日期" v-on:click="SwitchPanel('date');">
					<img class="icon" src="/static/Image/icon-setting.png" title="參數設定" v-on:click="SwitchPanel('option');">
					<img class="icon" src="/static/Image/icon-location.png" title="地理位置" v-on:click="SwitchPanel('location');">
					<img class="icon" src="/static/Image/icon-about.png" title="關於本站" v-on:click="SwitchPanel('about');">
					<img class="icon" src="/static/Image/icon-sponsor.png" title="贊助專案" v-on:click="SwitchPanel('sponsor');">
				</div>

				<div class="map-container">
					<div id="map" v-on:click="openDateSelect = false;"></div>
					<img class="logo" src="/static/Image/logo-lass.jpg">
				</div>
				
				<div class="detail-panel" v-if="mapControl" v-bind:class="{open: mapControl.openDailyChart}">
					<img src="/static/Image/icon-close.png" class="close-bt" v-on:click="mapControl.openDailyChart = false;">
					<div class="graph-content">
						<div class="graph-container">
							<div class="full-w">
								<div class="graph-title"></div>
								<div class="graph"></div>
								<div class="graph-info"></div>
							</div>
						</div>	
					</div>
				</div>
				
			</div>
			<div class="playbar">
				<div class="h-scroll">
					<div class="timebar">
						<div v-for="t in timebar" class="element" v-bind:style="t.style" v-on:click="ChangeTime(t.time);"></div>
						<div class="select-element"></div>
					</div>
				</div>
				<div class="play-control">
					<div class="bt" v-on:click="PrevDay();">昨天</div>
					<div class="time-label" v-on:click="openDateSelect=true;">{{timeStr}}</div>
					<img class="icon" src="/static/Image/icon-prev.png" v-on:click="PrevTime();">
					<img class="icon" v-bind:src="playIcon" v-on:click="TogglePlay();">
					<img class="icon" src="/static/Image/icon-next.png" v-on:click="NextTime();">
					<div class="bt" v-on:click="NextDay();">明天</div>
				</div>
			</div>

			<div class="side-panel" v-bind:class="{open: openDateSelect}">
				<div class="panel-switch">
					<img class="bt" src="/static/Image/icon-close.png" v-on:click="openDateSelect=false;">
					<img class="bt" src="/static/Image/icon-setting.png" title="參數設定" v-on:click="SwitchPanel('option');">
					<img class="bt" src="/static/Image/icon-location.png" title="地理位置" v-on:click="SwitchPanel('location');" >
					<img class="bt" src="/static/Image/icon-about.png" title="關於本站" v-on:click="SwitchPanel('about');">
					<img class="bt" src="/static/Image/icon-sponsor.png" title="贊助專案" v-on:click="SwitchPanel('sponsor');">
				</div>
				<div class="option-container">
					<div class="option-category">
						<div class="title">日期選擇</div>
					</div>
				</div>
				<select v-model="curYear">
					<option v-for="y in yearArr" v-bind:value="y">{{y}}年</option>
				</select>
				
				<div class="date-selection">
					
				</div>
				
			</div>

			<div class="side-panel full-h" v-bind:class="{open: openOption}">
				<div class="panel-switch">
					<img class="bt" src="/static/Image/icon-close.png" v-on:click="openOption=false;">
					<img class="bt" src="/static/Image/icon-date.png" title="選擇日期" v-on:click="SwitchPanel('date');">
					<img class="bt" src="/static/Image/icon-location.png" title="地理位置" v-on:click="SwitchPanel('location');">
					<img class="bt" src="/static/Image/icon-about.png" title="關於本站" v-on:click="SwitchPanel('about');">
					<img class="bt" src="/static/Image/icon-sponsor.png" title="贊助專案" v-on:click="SwitchPanel('sponsor');">
				</div>
				
				<div class="option-container">
					<div class="option-category">
						<img class="collapse-bt" src="/static/Image/icon-collapse-off.png" v-show="!waterboxOption.collapse" v-on:click="ToggleCollapse('waterbox');">
						<img class="collapse-bt" src="/static/Image/icon-collapse-on.png" v-show="waterboxOption.collapse" v-on:click="ToggleCollapse('waterbox');">
						<div class="title">水盒子</div>
					</div>
					<div v-show="waterboxOption.collapse == false">
						<div class="option-item">
							<div class="option-label">顯示</div>
							<input type="checkbox" v-model="waterboxOption.show" v-on:change="UpdateMapWaterbox();">
						</div>
						<div class="option-item">
							<input type="range" min="0" max="1" step="0.1" v-model="waterboxOption.opacity" v-on:change="UpdateMapWaterbox();">
							<div class="option-label">透明度</div>
						</div>
						<div class="option-item">
							<input type="range" min="0.1" max="2" step="0.1" v-model="waterboxOption.scale" v-on:change="UpdateMapWaterbox();">
							<div class="option-label">縮放</div>
						</div>
					</div>

					<div class="option-category">
						<img class="collapse-bt" src="/static/Image/icon-collapse-off.png" v-show="!mapOption.collapse" v-on:click="ToggleCollapse('map');">
						<img class="collapse-bt" src="/static/Image/icon-collapse-on.png" v-show="mapOption.collapse" v-on:click="ToggleCollapse('map');">
						<div class="title">地圖</div>
					</div>
					<div v-show="mapOption.collapse == false">
						<div class="option-item">
							<div class="option-label">衛星檢視</div>
							<input type="checkbox" v-model="mapOption.useSatellite" v-on:change="ToggleSatellite()">
						</div>
						<div class="option-item">
							<div class="option-label">強調水體</div>
							<input type="checkbox" v-model="mapOption.waterHighlight" v-on:change="ToggleWaterHighlight()">
						</div>
						<div class="option-item">
							<div class="option-label">顯示流域</div>
							<input type="checkbox" v-model="mapOption.showBasin" v-on:change="UpdateMapBasin()">
						</div>
						<div class="option-item">
							<input type="range" min="1" max="10" step="1" v-model="mapOption.playSpeed" v-on:change="UpdatePlaySpeed();">
							<div class="option-label">播放速度</div>
						</div>
					</div>

				</div>

			</div>

			<div class="side-panel full-h" v-bind:class="{open: openLocation}">
				<div class="panel-switch">
					<img class="bt" src="/static/Image/icon-close.png" v-on:click="openLocation=false;">
					<img class="bt" src="/static/Image/icon-date.png" title="選擇日期" v-on:click="SwitchPanel('date');">
					<img class="bt" src="/static/Image/icon-setting.png" title="參數設定" v-on:click="SwitchPanel('option');">
					<img class="bt" src="/static/Image/icon-about.png" title="關於本站" v-on:click="SwitchPanel('about');">
					<img class="bt" src="/static/Image/icon-sponsor.png" title="贊助專案" v-on:click="SwitchPanel('sponsor');">
				</div>
				
				<div class="option-container">
					<div class="option-category">地點</div>
					<div class="option-item">
						<div class="option-label">搜尋地點</div>
						<input type="text" id="placeSearch" placeholder="輸入要前往的地點">
					</div>
					<div class="option-item">
						<div class="action-bt" v-on:click="GoToMyLocation();">前往我的位置</div>
					</div>
					<div class="option-category">外部連結</div>
					<div class="option-item">
						<div class="action-bt" v-on:click="window.open('https://fhy.wra.gov.tw/fhy/Disaster/AppAction','about:blank');">行動水情APP</div>
						<div class="action-bt" v-on:click="window.open('http://eocdss.ncdr.nat.gov.tw/web/','about:blank');">災害情資網</div>
						<div class="action-bt" v-on:click="window.open('https://dmap.ncdr.nat.gov.tw/%e4%b8%bb%e9%81%b8%e5%96%ae/%e5%9c%b0%e5%9c%96%e6%9f%a5%e8%a9%a2/gis%e6%9f%a5%e8%a9%a2/','about:blank');">災害潛勢地圖</div>
						<div class="action-bt" v-on:click="window.open('https://gis3.moeacgs.gov.tw/gwh/gsb97-1/sys8/t3/index1.cfm','about:blank');">地質查詢</div>
						<div class="action-bt" v-on:click="window.open('http://nsp.tcd.gov.tw/ngis/','about:blank');">國土規劃地圖</div>
					</div>
				</div>
			</div>

			<transition name="fade">
				<div class="full-panel" v-if="openAbout">
					<img class="close-bt" src="/static/Image/icon-close.png" v-on:click="openAbout=false;">
					<div class="content-area">
						<div class="content-title">圖示說明</div>
						<ul>
							
						</ul>
						<div class="content-title">資料來源</div>
						<ul>
							
						</ul>

						<div class="content-title">參考資料</div>
						<ul>
							
						</ul>
						<% include about %>
					</div>
				</div>
			</transition>

			<% include sponsor %>

			<div class="welcome-page" v-show="loading">
				<img class="logo" src="/static/Image/logo.png?v=<%=meta.version%>">
				<img class="logo-text" src="/static/Image/logo-text.png?v=<%=meta.version%>">
			</div>
		</div>

		<script src="https://maps.googleapis.com/maps/api/js?libraries=visualization,places&sensor=false&key=AIzaSyBUGDJex2sQeScb1Wxcm7oiPGwdmyoLhHM"></script>
		<script src="/static/js/base/util.js?v=<%=meta.version%>"></script>
		<script src="/static/js/base/optionCodec.js?v=<%=meta.version%>"></script>
		<script src="/static/js/base/svgGraph.js?v=<%=meta.version%>"></script>
		<script src="/static/js/base/svgOverlay.js?v=<%=meta.version%>"></script>
		<script src="/static/js/base/mapLayer.js?v=<%=meta.version%>"></script>
		<script src="/static/js/env/mapControl.js?v=<%=meta.version%>"></script>
		<script src="/static/js/env/env.js?v=<%=meta.version%>"></script>
	</body>
</html>